*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(20,20,20);
    color: #fff;
    
}

main{
    padding: 2px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    
}
.header{
    
    padding: 5px 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9a9898;
    width: 100%;

    
}


.logo{
    display: flex;
    align-items: center;
    color: #b7b5b5;
    
}
.logo-img{
    width: 40px;
    height: 40px;
    margin-right:  4px;
}
nav{
    display: flex;
   
}
nav>a>li{
    list-style-type: none;
    margin: 0px 15px;
    cursor: pointer;
    font-weight: 600;
   
}

.input-box>input,button{
    padding: 8px 10px;
    border: none;
    border: solid white 1px;
    border-radius: 4px;
    color: #fff;
}
.input-box>button{
    background-color: #1746de;
    border: none;
    cursor: pointer;
}

